<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add-to-Cart</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <script src="https://kit.fontawesome.com/019081d8fd.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="fixed-background">
    </div>
    <div class="main-container">
        <header>

            <h5 class="logo">
                Zionista
            </h5>

            <div class="cart">
                <button class="cart-button">
                    <i class="fa-solid fa-cart-shopping"></i>

                    <p id="count">
                        0
                    </p>
                </button>

            </div>

        </header>

        <div class="container">

            <div class="root">

            </div>


            <div class="sidebar">

                <div class="head">
                    <p>
                        My Cart
                    </p>

                    <div id="delete-mark">
                        <i class="fa-sharp fa-solid fa-xmark"></i>
                        <p>Back</p>
                    </div>
                </div>

                <div id="cartItem">
                    Your cart is empty
                </div>

                <div class="foot">

                    <h3 style="color:white;">Total:</h3>
                    <a class="pay-button" style="display: none;" href="/payment/">Pay Now</a>

                    <h2 id="total">$ 0</h2>

                </div>


            </div>
        </div>

        <script src="{{url_for('static',filename='script.js')}}"></script>
    </div>
</body>

</html>